@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

ul {
  line-height: 2rem;
}

li {
  margin-left: 1rem;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav ul {
  display: flex;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

